/* 프로필과 버튼 */

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-wrap {
    column-gap: 15px;
}



.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 80px 15px 60px;
    width: 360px;
}

.profile>div:nth-child(3),
.profile>div:nth-child(5) {
    display: flex;
    justify-content: center;
}

.profile>div:nth-child(1) {
    grid-area: 1/1/3;
    display: flex;
    justify-content: center;
}

.profile>div:nth-child(2) span {
    font-weight: bold;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gray;
}

.btn-default {
    font-weight: normal;
    border-radius: 10px;
    width: 50px;
    padding: 8px 15px;
    font-size: 10px;
    background-color: var(--color-strong);
}

/* 판매중, 찜상품, 후기 */

.title {
    padding-right: 100px;
}

.title>div {
    display: inline-block;
    /* font-weight: bold; */
    font-size: var(--font-4);
    margin-right: 30px;
}


/* ----------------------내상점-후기 ---------------------------*/

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 0;
    gap: 7px;
    width: 340px;
}

.stars>span:nth-child(1) {
    font-size: var(--font-4);
    font-weight: bold;
}

.stars>span:nth-child(2) {
    font-size: 30px;
}

.review-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    border-bottom: 1px solid gray;

}

.review-detail>div:nth-child(1) {
    grid-area: 1/1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-detail>div:nth-child(1) img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
}

.review-detail>div:nth-child(2) {
    align-self: flex-end;
    font-weight: bold;
    font-size: var(--font-4);
}

.review-detail>div:nth-child(3) {
    align-self: flex-end;
    font-size: var(--font-2);
}

.review-detail>div:nth-child(4) {
    align-self: flex-end;
    position: relative;
}

.review-detail>div:nth-child(4) img {
    position: absolute;
    bottom: 0;
}

.review-detail>div:nth-child(5) {
    grid-area: 2/2/3/5;
    display: flex;
    align-items: center;
    color: var(--color-strong);
    font-size: var(--font-2);
}

.review-detail>div:nth-child(6) {
    grid-area: 3/2/4/5;
    font-size: 15px;
}

/* ========================키워드 알림 설정 ===================== */

.keyword-alert-wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    min-width: 380px;

}

.keyword-alert {
    border: 2px solid black;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.keyword-alert-title h1 {
    font-size: var(--font-4);
}

.keyword-alert-title img {
    width: 30px;
    height: 30px;
}

.keyword-alert-title {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 30px;
    padding-top: 20px;
    align-items: center;
}

.keyword-alert-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.keyword-alert-category select {
    border: 3px solid var(--color-strong);
}

.flex-wrap {
    display: flex;
    justify-content: center;
}

.keyword-alert-input {
    display: inline-flex;
    margin: 30px 0;
    position: relative;
}

.keyword-alert-input input {
    height: 40px;
    width: 300px;
}

.keyword-alert-input span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--color-strong);
    cursor: pointer;
}

.keyword-alert-count {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: var(--font-5);
    gap: 15px;
}

.keyword-sort {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 30px 0;
}

.text-sort {
    display: flex;
    justify-content: center;
    margin: 50px 0 15px;
    font-size: var(--font-4);
    color: gray;
}

.button-sort {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding-bottom: 50px;
}

.btn-size-control {
    font-size: 1em;
    width: 200px;
}

