/*전체설정*/
.update-product-form-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.update-product-wrap{
  display: flex;
  flex-direction: column;
  width: 380px;
  gap:30px
}

.update-product-title {
  margin: 70px 10px 50px ;
  border-bottom: 1px solid #8b898e;
  width: 90%;
}

.update-product-title h1 {
  font-size: var(--font-5);
}

/*.update-product-price,update-product-name,update-product-explain*/
.update-product-wrap > div > div:nth-child(2){
  margin-left: 20px;
  margin-right: 20px;
}

/*input 모양*/
.input-title {

  font-size: var(--font-3);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: 700;
}

.input-default{
  height: 30px;
  padding: 5px 10px;
  border-radius: 10px;
  width: 80%;
  /* outline: 3px solid var(--color-primary); */
}

/* 이미지 등록을 위한 css */

.update-product-image{
  /*align-self: center;*/
}
.update-product-image .input-title{
  padding: 0 10px;
}

.thumbNail-title{
  display: block;
  font-size: var(--font-1);
  color : var(--color-dark);
  font-weight: bold;
  width: 80px;
  text-align: center;
}

.img-input.thumbNail{
  border: 3px solid #545454;
}

.img-input-box{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
}

.input-box{
  display: inline-block;
  margin-right: 3px;
  padding: 0;
}

.img-input{
  /* background: url(../../../image/icon/icon-image.svg)no-repeat center;
  background-size: 40px 40px; */
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 2px solid #BBBBBB;
  border-radius: 10px;
  position : relative;
  cursor: pointer;
}
.img-input:hover{

  background-size: 42px 42px;
  background-color: #eae9e9;
  transition: .7s;
}



.reg1 .input-box{
  display: inline-block;
  margin-right: 3px;
  padding: 0;
}

.img-count{
  font-size: var(--font-2);
  color: rgb(82, 82, 82);
  padding-left: 15px;
}

.img-delete{
  display: inline-block;
  background: url(../../../image/icon/icon-close.svg) no-repeat;
  background-size : 20px 20px;
  width: 20px;
  height: 20px;
  position: relative;
  top : -55px;
  right : 25px;
  margin-right:-20px;
}

/* 상품제목*/
/*상품가격 */
.input-after {
  vertical-align: bottom;
  padding-left: 10px;
}

.update-product-price input[type=number]::-webkit-outer-spin-button,
.update-product-price input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}


/* ===========================*/


/*카테고리*/


/*상세설명*/
.input-description{
  resize: none;
  width: 90%;
  height: 100px;
  font-family: var(--font-main);
}

/*컨디션*/
.condition-btn{
  background-color: #bbbbbb;
  padding: .3em 1em;
  border-radius: .8em;
  font-size: var(--font-2);
  margin: 2px 2px;
}

.update-product-condition input:checked + label{
  background-color: var(--color-primary);
}

/*태그*/
.tag-input{
  width: 50%;
}

.btn-add{
  padding: .5em;
  font-weight: normal;
  border-radius: 10px;
  font-size: 1em;
  margin-left: 5px;
}

.tag-delete{
  display: inline-block;
  background: url(../../../image/icon/icon-close.svg) no-repeat;
  background-size : 18px 18px;
  width: 20px;
  height: 20px;
  position: relative;
  top : 4px;
  right : -3px;
  margin-right:-10px;
}




/*배송방법*/
.update-product-delivery .product-delivery-box{
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
}
.label-box{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
}

.delivery-icon{
  display: inline-block;
  align-self: center;
  font-size: 30px;
}

.delivery-name{
  font-size: var(--font-2);
  font-weight: bold;
  align-self: center;
  padding-bottom: 30px;
  color :rgb(61, 61, 61)
}

.update-product-delivery .delivery-label{
  display: inline-block;
  background-color: #ffffff;
  border-radius: 20px;
  /*padding: 5px 50px 5px 40px;*/

  /*box-shadow: 0 4px 4px rgba(0 0 0 / 25%);*/
}

.update-product-delivery input:checked + .delivery-label {
  border: 2px solid #A9A9FF;
  border-radius: 10px;
}

/* 제출버튼 */
.update-product-btn{
  display: flex;
  gap:10px;
  justify-content: center;
}

.update-product-btn .btn-default{
  border: none;
}

/*.update-product-wrap {*/
/*  margin: 10px 2%;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-around;*/
/*}*/

/*.update-product-wrap > div:nth-child(1),*/
/*.update-product-wrap > div:nth-child(2),*/
/*.update-product-wrap > div:nth-child(3),*/
/*.update-product-wrap > div:nth-child(4),*/
/*.update-product-wrap > div:nth-child(5),*/
/*.update-product-wrap > div:nth-child(6),*/
/*.update-product-wrap > div:nth-child(7),*/
/*.update-product-wrap > div:nth-child(8) {*/
/*  display: grid;*/
/*  grid-template-columns: 0.3fr 1fr;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.check-condition-wrap input {*/
/*  display: none;*/
/*}*/

/*.update-product-tag .btn-default {*/
/*  font-weight: 1;*/
/*  border-radius: 10px;*/
/*  padding: 0.5em 2em;*/
/*  font-size: 0.5em;*/
/*  margin-left: 10px;*/
/*}*/

/*.update-product-condition .btn-cancel {*/
/*  font-weight: 1;*/
/*  border-radius: 10px;*/
/*  padding: 0.5em 2em;*/
/*  font-size: 0.5em;*/
/*}*/

/*.update-product-titlein input,*/
/*.update-product-price input,*/
/*.update-product-explain input {*/
/*  width: 200px;*/
/*  height: 25px;*/
/*  font-size: 100%;*/
/*}*/

/*.update-product-tag input {*/
/*  height: 25px;*/
/*  font-size: 100%;*/
/*}*/

/*.update-product-tag {*/
/*  grid-row-gap: 15px;*/
/*}*/

/*.update-product-tag div:nth-child(2) {*/
/*  !* display: flex; *!*/
/*  !* justify-content: space-between; *!*/
/*}*/

/*.check-condition-wrap input:checked + .btn-cancel {*/
/*  background-color: var(--color-strong);*/
/*}*/

/*.update-product-btn {*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*}*/

/*.update-product-delivery input {*/
/*  display: none;*/
/*}*/

/*.update-product-delivery .btn-default {*/
/*  font-weight: 1;*/
/*  border-radius: 10px;*/
/*  padding: 2em 0.5em;*/
/*  font-size: 0.8em;*/
/*}*/

/*.update-product-delivery label {*/
/*  display: inline-block;*/
/*  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.243);*/
/*  margin-right: 15px;*/
/*}*/

/*.update-product-delivery label span {*/
/*  display: block;*/
/*  text-align: center;*/
/*}*/

/*.update-product-delivery label span:nth-child(1) {*/
/*  font-size: 50px;*/
/*}*/

/*@media (min-width: 720px) {*/
/*  .update-product-title {*/
/*    margin: 70px 50px 0px;*/
/*  }*/

/*  .update-product-wrap {*/
/*    margin: 10px 20%;*/
/*  }*/
/*}*/

/*@media (min-width: 1000px) {*/
/*  .update-product-title {*/
/*    margin: 70px 80px 0px;*/
/*  }*/

/*  .update-product-wrap {*/
/*    margin: 10px 150px;*/
/*  }*/
/*}*/

/*@media (min-width: 1500px) {*/
/*  .update-product-title {*/
/*    margin: 70px 200px 0px;*/
/*  }*/

/*  .update-product-wrap {*/
/*    margin: 10px 500px;*/
/*  }*/
/*}*/
