/* =================== 상품 이미지와 디테일 =================== */
.product-flex {
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
}

.product-container:active {
  position: relative;
  top: 3px;
}

.product-wrap {
  display: grid;
  grid-template-columns: 170px 170px;
  row-gap: 70px;
  column-gap: 10px;
}

/* .product-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.product-container div:first-child {
  width: 100%;
  height: 244px;
}

.product-container > div:first-child img {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.375), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 10px;
}

.product-container > div:first-child img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.product-container .price-wish {
  font-weight: bold;
  font-size: var(--font-3);
}

.product-container .price-wish {
  display: flex;
  justify-content: space-between;
}

.product-container .price-wish {
  padding: 10px 5px 0;
}

.product-container .price-wish img {
  width: 18px;
  height: 18px;
}

.product-container .name {
  font-size: var(--font-2);
  padding: 0 5px;
  height: 35px;
}

.product-container .time {
  font-size: var(--font-1);
  text-align: right;
  padding: 5px 5px;
}

@media (min-width: 768px) {
  .product-wrap {
    display: grid;
    grid-template-columns: 170px 170px 170px;
    row-gap: 70px;
    column-gap: 20px;
  }
}

@media (min-width: 1000px) {
  .product-wrap {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    row-gap: 70px;
    column-gap: 30px;
  }
}

@media (min-width: 1400px) {
  .product-wrap {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px;
    row-gap: 70px;
    column-gap: 30px;
  }
}

@media (min-width: 1800px) {
  .product-wrap {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px 170px;
    row-gap: 70px;
    column-gap: 30px;
  }
}
