/* ---------------검색결과 css------------ */
.search-result-wrap {
  padding-left: 1em;
  padding-top: 1em;
}

.search-result {
  color: red;
  font-weight: bold;
}

/* ==================== 카테고리 */
/* ---------------수퍼 카테고리 css------------ */

.supercategory {
  padding-left: 1em;
  font-size: var(--font-4);

  padding-bottom: 1em;
  padding-top: 1em;
}

.supercategory input {
  display: none;
}

.supercategory span {
  margin: 0.4em;
  font-weight: 900;
}

.supercategory span:hover {
  border-bottom: 3px solid var(--color-dark);
  transition: border-bottom 0.5s step-start;
}

.supercategory input:checked + label {
  border-bottom: 3px solid var(--color-dark);
  transition: border-bottom 0.5s step-start;
}

/* ---------------서브 카테고리 css------------ */

.subcategory {
  padding-left: 1em;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.subcategory input {
  display: none;
}

.subcategory label {
  margin: 0.2em 0.05em 0.2em 0.05em;
}

.subcategory input:checked {
  display: none;
}

.subcategory input:checked + .btn-default {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.aaa {
  font-size: var(--font-2);
  font-weight: normal;
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.5em 1em;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
  margin: 20px;
  margin: 0.2em 0.05em 0.2em 0.05em;
}

.category-checked {
  background-color: var(--color-primary);
  color: var(--color-light);
}

/* ==================== 정렬 콤보박스 */
.option {
  display: flex;
  justify-content: flex-end;
  padding: 40px 20px 20px 20px;
}

.option select {
  /* appearance: none; */
  font-weight: 900;
  border: 0;
  background-color: var(--color-light);
}

.option select option {
  background-color: var(--color-light);
  /* border: 0; */
  font-weight: 900;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 80%);
}
